.js [data-semana].aberto::after {
  content: "";
  width: 10px;
  height: 10px;
  background: rgb(95, 233, 95);
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid black;
}

.js [data-semana]::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgb(236, 27, 27);
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid black;
}
