.js [data-menu="button"] {
  display: none;
  position: relative;
  background: #e54;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  align-items: center;
}

.js [data-menu="button"]::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 12px;
  background: #fff;
  box-shadow: 0 4px #fff, 0 -4px #fff;
  margin-right: 10px;
  transition: transform 0.3s;
}

.js [data-menu="button"].active::before {
  transform: rotate(90deg);
}

@media (max-width: 500px) {
  .js [data-menu="button"] {
    display: flex;
  }
  .js .header-nav {
    position: absolute;
    padding-top: 60px;
    width: 160px;
    flex-wrap: wrap;
    z-index: 1;
    margin: 0;
    top: 30px;
    right: 0;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.199);
    display: none;
  }

  .js .header-nav.active {
    display: block;
  }

  .js .header-nav {
    animation: show-menu 0.3s forwards;
  }

  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translate3d(-40px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .js .header-nav li {
    flex-grow: 1;
  }
  .js nav {
    background: #fb5;
    padding: 12px;
    margin: 30px 0;
    font: 700 1rem IBM Plex Mono, monospace;
    display: flex;
    justify-content: right;
  }
}
