body {
  background: #faf6ed;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
dd,
dt,
dl,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li,
ul {
  list-style: none;
}

nav,
footer {
  grid-column: 3/-1;
}

h1,
h2 {
  font: 400 6rem/1 Playfair Display SC;
  grid-column: 1/4;
  margin-bottom: 16px;
  margin-left: 20px;
}

h3 {
  font: 700 1rem IBM Plex Mono, monospace;
  text-transform: uppercase;
  color: #e54;
  margin-bottom: 16px;
  letter-spacing: 0.1rem;
}

h3::before {
  content: "";
  background: #fb5;
  height: 10px;
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  font: 700 0.875rem IBM Plex Mono, monospace;
  letter-spacing: 0.1rem;
  color: inherit;
}

a:hover {
  background: rgb(199, 143, 58);
}

p,
dd {
  font: 1rem/1.2 Helvetica, Arial;
  margin-bottom: 15px;
}

.header-nav {
  display: flex;
  background: #fb5;
  margin: 30px 0;
}

.header-nav a {
  display: block;
  padding: 20px;
}

.animais,
.faq,
.contatos {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

.galeria-animais {
  grid-column: 2/3;
  height: 370px;
  overflow-y: scroll;
  cursor: pointer;
}

.galeria-animais::-webkit-scrollbar {
  width: 18px;
}

.galeria-animais::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.galeria::-webkit-scrollbar-track {
  background: #faf6ed;
}

.container-intro {
  margin-bottom: 50px;
}

.js [data-tab="content"] .container-intro,
.js [data-anima="accordion"] dd {
  display: none;
}

.js [data-tab="content"] .ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

dl {
  grid-column: 2/-1;
}

dd {
  margin-left: 30px;
}

dt {
  color: #e54;
  font: 700 1rem IBM Plex Mono, monospace;
  margin-bottom: 0.5rem;
  position: relative;
  padding: 10px;
}

dt::before {
  content: "";
  background: #fb5;
  height: 10px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

dt::after {
  content: "⤵";
  position: absolute;
  display: inline-block;
  right: 20px;
}

.js [data-anima="accordion"] dt.arrow-up::after {
  content: "⤴";
  transition: 0.2s;
}

.js [data-anima="accordion"] dt.arrow-up:hover::after {
  transform: rotateX(180deg);
}

.js [data-anima="accordion"] .ativo {
  display: block !important;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}

.contatos img {
  grid-column: 2/3;
}

.contatos li {
  font-family: Helvetica, Arial;
  margin-bottom: 16px;
}

.contatos li::before {
  content: "";
  background: #fb5;
  height: 8px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}

.js [data-anima="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js [data-anima="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}

footer {
  background: #fb5;
  padding: 20px;
  margin: 30px 0;
  font: 700 1rem IBM Plex Mono, monospace;
}

@media (max-width: 1030px) {
  .js [data-anima="accordion"] dt.arrow-up::after {
    transition: 0s;
  }
  .js [data-anima="accordion"] dt.arrow-up:hover::after {
    transform: rotateX(360deg);
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  nav,
  footer {
    grid-column: 1/-1;
  }
  .animais,
  .faq,
  .contatos {
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  h1,
  h2 {
    grid-column: 1/-1;
    font-size: 3rem;
    margin-left: 0;
  }

  .galeria-animais {
    grid-column: 1/2;
  }

  dl {
    grid-column: 1/-1;
  }

  .contatos img {
    grid-column: 1/2;
  }
}

@media (max-width: 600px) {
  .animais,
  .faq,
  .contatos {
    margin-bottom: 30px;
    gap: 20px;
  }
  .galeria-animais {
    grid-column: 1/-1;
    height: 200px;
  }
  .container-animais {
    grid-column: 1/-1;
  }
  .container-intro {
    margin-bottom: 20px;
  }
  .contatos img {
    grid-column: 1/-1;
    max-height: 300px;
    justify-self: center;
  }
  .container-contatos {
    grid-column: 1/-1;
    justify-self: center;
  }
  .header-nav {
    justify-content: center;
  }
  footer {
    text-align: center;
  }
  @keyframes show {
    from {
      transform: translate3d(0, -20px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}
